body {
	background: #ebebeb;
	font-size: 12px;
	padding-top: 50px;
	-webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
}

.navbar-inner {
	background: #4a7fa5; /* Old browsers */
	background: -moz-linear-gradient(top, #4a7fa5 0%, #285f88 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4a7fa5), color-stop(100%,#285f88)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #4a7fa5 0%,#285f88 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #4a7fa5 0%,#285f88 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #4a7fa5 0%,#285f88 100%); /* IE10+ */
	background: linear-gradient(to bottom, #4a7fa5 0%,#285f88 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a7fa5', endColorstr='#285f88',GradientType=0 ); /* IE6-9 */
	border-bottom: 1px solid #2a2a2a;
}

a {
	color: #2e5e86;
	font-weight: bold;
}

.grid-icon {
	height: 14px;
	display: inline-block;
	margin: 10px 16px 6px 0;
	width: 15px;
}

.block {
  background: #cdcdcd;
  float: left;
  height: 4px;
  margin-top: 1px;
  margin-left: 1px;
  width: 4px; }

.grid-icon:hover .block {
	background: #555555;
}

.block.top-row {
  margin-top: 0;
}

.bar {
  background: #cdcdcd;
  display: block;
  float: left;
  height: 2px;
  width: 14px;
  margin: 0 auto;
}

.list-icon {
	height: 14px;
	display: inline-block;
	margin: 10px 0 6px 0;
	width: 14px;
}

.list-icon:hover .bar {
	background: #555555;
}

.list-icon .bar:nth-child(even){
	width: 10px;
}

.bar + .bar {
  margin-top: 2px;
}

.photo {
	background: #fafafa;
	border: 1px solid #c0c0c0;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 16px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 16px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 16px rgba(0, 0, 0, 0.1);
	text-align: left;
	margin-bottom: 20px;
}

.profile {
	width: 30px;
}

.caption {
	border-bottom: 1px solid #e7e7e7;
	padding: 10px;
}

.caption img {
	border: 1px solid #ddd;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.caption p {
	margin-bottom: 0;
}

.comments {
	margin: 10px;
}

.comments p {
	margin-bottom: 5px;
}

.sort-photos a {
	color: #aaa;
	display: inline-block;
	margin: 10px 10px 10px 0;
	text-decoration: none;
}

.sort-photos a:hover {
	color: #494949;
}

.link-view {
	height: 0;
	overflow: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.1s linear;
  -moz-transition: opacity 0.1s linear;
  -o-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
	position: fixed;
	margin: -306px 0 0 -412px;
	top: 50%;
	left: 50%;
	z-index: 200;
}

.photo-modal {
	background: #fafafa;
	position: relative;
	width: 825px;
	z-index: 200;
}

.media-info {
	display: inline-block;
	float: right;
	width: 325px;
}

.modal-image {
	display: inline-block;
	float: left;
}

.modal-image img {
	width: 500px;
}

.enabled.link-view {
	opacity: 1;
	height: auto;
}

.loading {
	opacity: .5;
}

.close-modal {
	background: rgba(0,0,0,.8);
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-indent: -9999px;
	z-index: 199;
}

.place-map {
	height: 100px;
	background-position: 50% 50%;
	overflow: hidden;
}

.place-map b {
	background: url('https://pathakacdn-a.akamaihd.net/web-assets/images/map-pin-small_8e540939b3bd34cefe06033d74170e47a9be1446.png') no-repeat 50% 50%;
	border: 1px solid rgba(0,0,0,0.2);
	display: block;
	position: relative;
	height: 100%;
	width: 100%;
	border-top: 0;
	border-left: none;
	border-right: 0;
	top: -1px;
}